<% provide(:title, 'Sign up') %>
<%= render 'layouts/header' %>

<section id="inner-headline">
    <div class="container">
            <div class="span12">
                <div class="inner-heading">
                    <h2>Sign up</h2>
                </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
            <div class="span6">
<p>Fill out the form below to create a free account.</p>
              <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :company_name %>
      <%= f.text_field :company %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :contact_name %>
      <%= f.text_field :name %>

      <%= f.label :contact_number %>
      <%= f.text_field :contact_number %>
<div>
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>
</div>
      <%= f.submit "Submit", class: "btn btn-home margintop10 pull-left" %>
    <% end %>
            </div>
    </div>
</section>
<%= render 'layouts/footer' %>