<% provide(:title, "Home") %>
<div class='home'>

    <%= render 'layouts/header' %>

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="inner-heading">
                        <p>Think of Fast Eddie as your personal runner. <br >He'll pick stuff up, drop stuff off, quickly, and with very little fuss.</p>
                        <p><strong>Fill out the form below and Fast Eddie will see you in a snap.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                <%= form_for @delivery, html: { class: 'custom' } do |f| %>
                <% flash.each do |key, value| %>
                <%= content_tag(:div, value, class: "alert alert-#{key}") %>
                <% end %>
                <%= render 'shared/error_messages', object: f.object %>
                <!-- Address from -->
                <div class='span7'>
                    <div class="span3">
                        <h4 class='home-form-header'>Collect from</h4>
                        <div class="row">
                            <div class="field">
                                <%= f.label :collection_address %>
                                <%= f.text_area :from_address, rows: '3', placeholder: "Company name, street number, street name, building number, floor", class: "input-block-level" %>
                            </div>

                            <div class="field">
                                <label>Suburb</label>
                                <%= f.collection_select :from_area, Area.find(:all), :id, :name, { prompt: "Select" }, { class: "medium"} %>
                            </div>
                        </div>
                    </div>


                    <!-- Address to -->
                    <div class="span3">
                        <h4 class='home-form-header'>Deliver to</h4>
                        <div class="row">
                            <div class="field">
                                <%= f.label :delivery_address %>
                                <%= f.text_area :to_address, rows: '3', placeholder: "Company name, street number, street name, building number, floor", class: "input-block-level" %>
                            </div>
                            <div class="field">
                                <label>Suburb</label>
                                <%= f.collection_select :to_area, Area.find(:all), :id, :name, { prompt: "Select" }, { class: "medium"} %>
                            </div>
                        </div>
                    </div>

                    <div class='row'>
                        <!-- special instructions -->
                        <div class="span3 field">
                            <%= f.label :special_instructions %>
                            <%= f.text_area :special_instructions, rows: '3', placeholder: "Specific times etc" %>
                        </div>

                        <div class="span2 field quote-container">
                            <span class='quote-currency'>Fee: R</span><%= f.text_field :quote, readonly: true %>
                        </div>
                    </div>

                    <div class='span6'>
                        <p>
                                <% if signed_in? %>
                                <%= f.submit "Submit", confirm: 'Sending Fast Eddie?', class: "btn btn-home margintop10 pull-left" %>
                                <% else %>
                                <%= link_to 'Submit', signup_path, class: "btn btn-fake margintop10 pull-left" %>
                                <% end %>
                            </p>
                    </div>
                </div>
<% end %>
                <!-- Addresses -->
                <div class="span4 addresses">
                    <% if signed_in? %>
                    <p>Recent addresses</p>
                    <ul>
                        <% @recent_addresses.each do |address| %>
                        <li><span class="click-address"><%= address.from_address %></span><br > <%= link_to 'Use as collection address', '#', class: 'options options-collection' %> <%= link_to 'Use as delivery address', '#', class: 'options options-delivery' %></li>
                        <li><span class="click-address"><%= address.to_address %></span><br > <%= link_to 'Use as collection address', '#', class: 'options options-collection' %> <%= link_to 'Use as delivery address', '#', class: 'options options-delivery' %></li>
                        <% end %>
                    </ul>
                    <% else %>
                    <div id='signin-container'>
                    <p>Sign in to arrange a collection</p>
                    <%= form_for(:session, url: sessions_path, :html=> {class: 'signin-form'}) do |f| %>
                    <%= f.label :email %>
                    <%= f.text_field :email %>
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                    <%= f.submit "Sign in", class: "" %>
                    <% end %>
                    <p>New user? <%= link_to "Sign up", '#', class: 'signup link-click' %></p>
                </div>

                <div id='signup-container'>
                    <p>Create a free account</p>
                <%= form_for(@user, :html=> {class: 'signin-form'}) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                  <%= f.label :name %>
                  <%= f.text_field :name %>

                  <%= f.label :email %>
                  <%= f.text_field :email %>

                  <%= f.label :contact_number %>
                  <%= f.text_field :contact_number %>

                  <%= f.label :password %>
                  <%= f.password_field :password %>

                  <%= f.label :password_confirmation, "Confirmation" %>
                  <%= f.password_field :password_confirmation %>

                  <%= f.submit "Create my account", class: "" %>
                <% end %>
                <p>Already have an account? <%= link_to "Log in", '#', class: 'signup link-click' %></p>
</div>

                    <% end %>
                </div>
            </div>

            

        </div>
    </section>
    
    <%= render 'layouts/footer' %>

    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

    <script type="text/javascript">

    $(document).ready(function(){ 

        var workOutQuote = function() {
            var value1 = $("#delivery_from_area").val();
            var value2 = $("#delivery_to_area").val();

            if (value1 == '1' && value2 == '1' ||
                value1 == '2' && value2 == '2' ||
                value1 == '3' && value2 == '3')
            {
                $("#delivery_quote").val('80');
            } 
            else if (value1 == '4' || value2 == '4'
                || value1 == '5' || value2 == '5')
            {
                $("#delivery_quote").val('120');
            }
            else
            {
                $("#delivery_quote").val('90');
            }
        }

        $("#delivery_from_area").on("change",function(){
            var value1 = $(this).val();
            var value2 = $("#delivery_to_area").val();
            if(value2!="" && value1!="")
                { workOutQuote(); }
            else
                { $("#delivery_quote").val('') }
        });

        $("#delivery_to_area").on("change",function(){
            var value1 = $(this).val();
            var value2 = $("#delivery_from_area").val();
            if(value2!="" && value1!="") 
                { workOutQuote(); }
            else
                { $("#delivery_quote").val('') }
        });

            $(".options-collection").click(function(e){
                e.preventDefault();
                var addr = $(this).closest('li').find('.click-address').text();
                $("#delivery_from_address" ).val(addr);
            });

            $(".options-delivery").click(function(e){
                e.preventDefault();
                var addr = $(this).closest('li').find('.click-address').text();
                $( "#delivery_to_address" ).val(addr);
            });

            $(".link-click").click(function(e){
                e.preventDefault();
                $('#signup-container').toggle();
                $('#signin-container').toggle();
            });

    });

</script>
