<% provide(:title, "Home") %>
<div class='home'>

    <%= render 'layouts/header' %>

    <section id="inner-headline">
        <div class="container">
            <div class="row">
                <div class="span8">
                    <div class="inner-heading">
                        <p>How can we help you today?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="content">
        <div class="container">
            <div class="row">

                <%= form_for @delivery, html: { class: 'custom' } do |f| %>
                <% flash.each do |key, value| %>
                <%= content_tag(:div, value, class: "alert alert-#{key}") %>
                <% end %>
                <%= render 'shared/error_messages', object: f.object %>
                <!-- Address from -->
                <div class='span7 delivery-panel'>
                    <div class="span3 field">
                                <%= f.label :collection_address %>
                                <%= f.text_area :from_address, rows: '3', placeholder: "Street number, street name, building number, floor", class: "input-block-level" %>
                    </div>

                    <!-- Address to -->
                    <div class="span3 field">
                                <%= f.label :delivery_address %>
                                <%= f.text_area :to_address, rows: '3', placeholder: "Street number, street name, building number, floor", class: "input-block-level" %>
                    </div>
                    
                        <!-- special instructions -->
                        <div class="span6 field">
                            <%= f.label :describe_the_job_that_you_need_done %>
                            <%= f.text_area :special_instructions, rows: '3', placeholder: "Specific instructions including times, contacts, and additional information." %>
                        </div>

                    <div class='span6'>
                        <p>
                                <% if signed_in? %>
                                <%= f.submit "Request a quote", confirm: 'Sending Fast Eddie?', class: "btn btn-home margintop10 pull-left" %>
                                <% else %>
                                <%= link_to 'Send', signup_path, class: "btn btn-fake margintop10 pull-left" %>
                                <% end %>
                            </p>
                    </div>
                </div>
<% end %>
                <!-- Addresses -->
                <div class="span4 addresses">
                    <% if signed_in? %>
                        
                    <p>Recent addresses</p>
                    <% if @recent_addresses %>
                    <ul>
                        <% @recent_addresses.each do |address| %>
                        <li><span class="click-address"><%= address.from_address %></span><br > <%= link_to 'Use as collection address', '#', class: 'options options-collection' %> <%= link_to 'Use as delivery address', '#', class: 'options options-delivery' %></li>
                        <li><span class="click-address"><%= address.to_address %></span><br > <%= link_to 'Use as collection address', '#', class: 'options options-collection' %> <%= link_to 'Use as delivery address', '#', class: 'options options-delivery' %></li>
                        <% end %>
                    </ul>
                    <% end %>
                    <% else %>
                    <div id='signin-container'>
                    <p>Sign in</p>
                    <%= form_for(:session, url: sessions_path, :html=> {class: 'signin-form'}) do |f| %>
                    <%= f.label :email %>
                    <%= f.text_field :email %>
                    <%= f.label :password %>
                    <%= f.password_field :password %>
                    <%= f.submit "Sign in", class: "" %>
                    <% end %>
                    <p>New user? <%= link_to "Sign up", '#', class: 'signup link-click' %><br ><%= link_to "Forgot your password?", new_password_reset_path, class: 'signup' %></p>
                </div>

                <div id='signup-container'>
                    <p>Create a free account</p>
                <%= form_for(@user, :html=> {class: 'signin-form'}) do |f| %>
                <%= render 'shared/error_messages', object: f.object %>

                  <%= f.label :company_name %>
                  <%= f.text_field :company %>

                  <%= f.label :email %>
                  <%= f.text_field :email %>

                  <%= f.label :contact_name %>
                  <%= f.text_field :name %>

                  <%= f.label :contact_number %>
                  <%= f.text_field :contact_number %>

                  <%= f.label :password %>
                  <%= f.password_field :password %>

                  <%= f.label :password_confirmation, "Confirmation" %>
                  <%= f.password_field :password_confirmation %>

                  <%= f.submit "Create my account", class: "" %>
                <% end %>
                <p>Already have an account? <%= link_to "Log in", '#', class: 'signup link-click' %></p>
</div>

                    <% end %>
                </div>
            </div>

            

        </div>
    </section>
    
    <%= render 'layouts/footer' %>

    </div>
    <a href="#" class="scrollup"><i class="icon-chevron-up icon-square icon-32 active"></i></a>

    <script type="text/javascript">

    $(document).ready(function(){ 

        $("#delivery_size").on("change",function(){
            var value1 = $(this).val();
            if(value1=='1')
                { $('#quote').text('R4 per km'); }
            else if (value1=='2')
                { $('#quote').text('R5 per km'); }
            else if (value1=='3')
                { $('#quote').text('R7 per km'); }
            else
                { $('#quote').text(''); }
        });

            $(".options-collection").click(function(e){
                e.preventDefault();
                var addr = $(this).closest('li').find('.click-address').text();
                $("#delivery_from_address" ).val(addr);
            });

            $(".options-delivery").click(function(e){
                e.preventDefault();
                var addr = $(this).closest('li').find('.click-address').text();
                $( "#delivery_to_address" ).val(addr);
            });

            $(".link-click").click(function(e){
                e.preventDefault();
                $('#signup-container').toggle();
                $('#signin-container').toggle();
            });

    });

</script>
