<header>
        <div class="container">
            <div class="row nomargin">
                <div class="span12">
                    <div class='span6 pull-left'>
                    <span class='logo pull-left'><%= link_to 'Fast Eddie', root_path, id: 'logo' %></span><span class='slogan'>We collect and delivery locally. <br >From documents, to stock, to your laundry.<br >Think of Fast Eddie as your personal runner.</span>
                </div>
                    <div class="headnav">
                        <ul>
                            <li><%= link_to 'Home', root_path %></li>
                            <li><%= link_to 'How it works', how_path %></li>
                            <li><%= link_to 'Benefits', benefits_path %></li>
                                <% if signed_in? %>
                                    <li><%= link_to 'History', user_deliveries_path(current_user) %></li>
                                    <li><%= link_to "Log out", signout_path, method: "delete", class: 'login-links' %></li>
                            <% else %>
                                    <li><%= link_to "Create free account", signup_path, class: 'login-links' %></li>
                                    <li><%= link_to "Log in", signin_path, class: 'login-links' %></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>